<!DOCTYPE HTML>
<html>
    <head>
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
         <script src="/socket.io/socket.io.js"></script>
         <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
         <script>
         var socket=io();
         socket.on('message',function(data){
            if(data.user===document.getElementById("username").value){
                showuserchat(data);
            }
            else
            {
                showotherchat(data);
            }
         })
         socket.on('online',function(data){
             console.log(data);
              $(".online").remove();
             for(x in data){
            
                 if(data[x]!==null)
                 {
                 var conv=document.getElementById("online");
                 var para=document.createElement('p');
                 para.className='online';
                 para.appendChild(document.createTextNode(data[x].name));
                 para.appendChild(document.createElement('br'));
                 conv.appendChild(para);
			     conv.scrollTop = conv.scrollHeight;
                 }
             }
         })
         socket.on('unplug',function(data){
             console.log(data);
             var conv=document.getElementById("conversation");
             var para=document.createElement('p');
                 para.className='disconnected';
                 para.appendChild(document.createTextNode(data.data +": is disconnected"));
                 para.appendChild(document.createElement('br'));
                 conv.appendChild(para);
			     conv.scrollTop = conv.scrollHeight;
         })
         function showuserchat(data)
         {
             var conv=document.getElementById("conversation");
             var para=document.createElement('p');
                 para.className='userchat';
                 para.appendChild(document.createTextNode(data.user+" : "+data.message));
                 para.appendChild(document.createElement('br'));
                 conv.appendChild(para);
			     conv.scrollTop = conv.scrollHeight;
         }
         function showotherchat(data)
         {
             var conv=document.getElementById("conversation");
             var para=document.createElement('p');
                 para.className='otherchat';
                 para.appendChild(document.createTextNode(data.user+" : "+data.message));
                 para.appendChild(document.createElement('br'));
                 conv.appendChild(para);
			     conv.scrollTop = conv.scrollHeight;
         }
         function chat(){
             var text=document.getElementById("wisdom");
                 text.locked=true;
             var data={
                       message:text.value,
                       user:document.getElementById("username").value
                       }
                 console.log(data);
                 socket.emit('chat',data);
                 text.value='';
                 text.locked=false;
                 return false;
         }
         </script>
         <style>
        input {
            float: left;
        }
        p.userchat {
			margin: 4px;
			padding: 4px 10px 4px 10px;
			border-radius: 4px;
			min-width: 50%;
			max-width: 85%;
			background-color: #ABEBC6;
            float: left;
		}
        p.otherchat {
			margin: 4px;
			padding: 4px 10px 4px 10px;
			border-radius: 4px;
			min-width: 50%;
			max-width: 85%;
			background-color: #85C1E9;
            float: right;
		}
        p.disconnected {
            margin: 4px;
			padding: 4px 10px 4px 10px;
			border-radius: 4px;
			min-width: 50%;
			max-width: 85%;
			background-color: #FF0000;
            float: right;
        }
        p.online {
            margin: 4px;
			padding: 4px 10px 4px 10px;
			border-radius: 4px;
			min-width: 50%;
			max-width: 85%;
			background-color: #FCF3CF;
            float: left;
        }
        #submit {
            margin-left: -69px;
        }
        </style>
    </head>
    <body>
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-xs-12 col-lg-12">
            <div id="conversation" style="width: 400px; height: 400px; border: 1px solid #ccc; background-color: #eee; padding: 4px; overflow: scroll"></div>
            <form>
            <div class="form-group">
            <input type="hidden" id="username" name="username" value=<%=username%> />
            <input type="text" id="wisdom" class="form-control" size="80" style="padding: 5px; font-size: 1em;width: 400px;" value="" placeholder="enter the text here"/>
            <button type="submit" id="submit" class="glyphicon glyphicon-send btn btn-primary" onclick="return chat()">Send</button>
            </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-xs-12 col-lg-12">
              <h3>Online members</h3>
              <div id="online" style="width: 400px; height: 100px; border: 1px solid #ccc; background-color: #eee; padding: 4px; overflow: scroll">
              </div>
            </div>
        </div>
    </body>
</html>